body{
background:#0b6623;
color:white;
font-family:Arial;
text-align:center;
}

.table{
display:flex;
justify-content:center;
gap:120px;
margin-top:40px;
}

.cards{
display:flex;
gap:10px;
justify-content:center;
margin:10px;
}

.cards img{
width:90px;
animation:deal 0.5s ease;
}

@keyframes deal{
from{
transform:translateY(-60px);
opacity:0;
}
to{
transform:translateY(0);
opacity:1;
}
}

button{
padding:10px 20px;
margin:10px;
font-size:16px;
border:none;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:white;
color:black;
}

.chips button{
font-size:20px;
}
